<% content_for :head do %>
	<%= javascript_include_tag "jquery_rails.js" %>
	<%= javascript_include_tag "canvas.js" %>
<% end %>
<h1>CANVAS</h1>
<div id="feedback"></div>
<canvas id="myCanvas" width = "600" height = "200"></canvas>
<div id="clear"><a href='#'>Clear</a></div>
<%= form_for :selection, :url => {:controller => :video, :action => :save_selection}, :remote => true do |f| %>
	<%= hidden_field :video, :coordinates, :value => 5 %>
	<%= f.submit :onclick => 'selectionSaved()' %>
<% end %>

<div id="selections"></div>
